@use "../../../mixin";
@use "../../../variables" as v;



/* 
=====================
 Container gratitude
===================== 
*/
.container-gratitude {
  width: 100dvw;
  height: 100dvh;

  @include mixin.flex-center(flex, center, center);
}


/* 
=====================
   Container content
===================== 
*/
.contain-gratitude {
  width: 75%;
  height: auto;
  flex-wrap: wrap;

  @include mixin.mobile {
    width: 90%;
  }

  h2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: v.$font-mainO2;
    margin: 25px 0;

    @include mixin.font-xl;
  }

  p {
    width: 75%;
    height: auto;
    text-align: center;
    font-family: v.$font-mainO2;
    margin: 25px;

    @include mixin.font-lg;

    @include mixin.mobile {
      width: 100%;
      margin: 15px 0;
    }
  }

  @include mixin.flex-center(flex, center, center);
}


/* 
=====================
      Box image
===================== 
*/
.box-gratitude {
  width: 10%;
  height: 10%;

  @include mixin.tablet {
    width: 15%;
    height: 15%;
  }

  @include mixin.mobile {
    width: 20%;
    height: 20%;
  }

  img {
    width: 75%;
    height: 75%;
    user-select: none;

    @include mixin.drag();
  }

  @include mixin.flex-center(flex, center, center);
}