/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
      Cassete
====================
*/
/* Container */
.main-cassete {
  width: 100%;
  height: 100%;
  background: v.$color-g5;
  border-radius: 30px;

  background: linear-gradient(142deg, rgba(19, 20, 21, 0.8117647059), rgba(22, 26, 26, 0.8117647059), rgba(13, 14, 14, 0.8117647059), rgba(30, 30, 30, 0.8117647059), rgba(11, 12, 12, 0.8117647059));
  background-size: 400% 400%;
  animation: transferAtm 1s ease infinite;

  @include mixin.flex-center(flex, center, center);
}

.contain-card-cassete {
  width: 300px;
  height: 200px;
  background: v.$color-b5;
  border-radius: 8px;
  box-shadow: #000000fa 0px 2px 4px, #0000004d 0px 7px 13px -3px, #00000033 0px -3px 0px inset;
  transform: scale(.8);
  cursor: pointer;
  transition: all .1s ease;
  
  &:hover {
    transform: scale(.82);
  }
  &:active {
    transform: scale(.81)
  }
}


/* Boxes */
  /* Box 1 */
.box-card-1-cassete {
  @include mixin.flex-center(flex, center, center);
}


  /* Box 2 */
.box-card-2-cassete {
  width: 230px;
  height: 115px;
  background-color: #FFFDD0;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 30px;
  clip-path: polygon(5% 0, 95% 0, 100% 10%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
}
  /* Lines */
.line-1-cassete {
  position: relative;
  width: 200px;
  height: 1px;
  background-color: v.$color-b1;
  top: 16px;
  left: 14px;
}
.line-2-cassete {
  position: relative;
  width: 200px;
  height: 1px;
  background-color: v.$color-b1;
  top: 32px;
  left: 14px;
}
  /* Background */
.background-line-3-cassete {
  width: 228px;
  height: 50px;
  background-color: #f2bc00;
  margin-top: 2.5em;
  margin-left: 0.06em;

  p {
    margin-left: 1.5em;
    align-self: center;
    user-select: none;
  }

  @include mixin.flex-center(flex, center, center);
}
.screen-view-cassete {
  width: 125px;
  height: 32px;
  margin-left: 48px;
  border-radius: 15px;
  background-color: v.$color-b2;
  display: flex;
}
.screen-tape-cassete {
  width: 48px;
  height: 20px;
  position: relative;
  left: 15px;
  background-color: #252525;
}
  /* Swheel */
.screen-swheel-cassete-1 {
  position: relative;
  top: 4px;
  left: 1px;
  width: 25px;
  height: 25px;
  border: 2px dashed v.$color-w1;
  box-shadow: 0 0 0 4.4px v.$color-w1;
  border-radius: 50%;
  animation: 2s run infinite linear;

  @include mixin.flex-center(flex, center, center);
}
.screen-swheel-cassete-2 {
  position: relative;
  top: 4px;
  left: 28px;
  width: 25px;
  height: 25px;
  border: 2px dashed #fff;
  box-shadow: 0 0 0 4.4px #fff;
  border-radius: 50%;
  animation: 2s run infinite linear;

  @include mixin.flex-center(flex, center, center);
}
/* Animation for swheel */
@keyframes run {
  100% {
    transform: rotate(360deg);
  }
}
  /* Contain time */
.contain-letter-time-cassete {
  width: 230px;
  height: 18px;
  background-color: #f15a25;
  margin-top: 3px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  /* Letters */
  p {
    font-size: .7em;
    user-select: none;
  }

  @include mixin.flex-center(flex, center, center);
}


  /* Box 3 */
.box-card-3-cassete {
  filter: drop-shadow(4px 4px 14px v.$color-b1);
}
.contain-decoration-cassete {
  width: 150px;
  height: 50px;
  margin-left: 4.6em;
  background-color: #252525;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
  /* Cirlce */
.decoration-c1-cassete {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background-color: #bebebe;
  border-radius: 50%;
  left: 25px;
  top: 35px;
}
.decoration-c2-cassete {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background-color: #bebebe;
  border-radius: 50%;
  left: 115px;
  top: -2px;
}
  /* Square */
.decoration-t1-cassete {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background-color: #bebebe;
  border-radius: 2px;
  left: 48px;
  top: 15px;
}
.decoration-t2-cassete {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  background-color: #bebebe;
  border-radius: 2px;
  left: 95px;
  top: -5px;
}


  /* Box 4 */
.box-card-4-cassete {
  @include mixin.flex-center(flex, center, center);
}


.contain-screw1-cassete, .contain-screw2-cassete, .contain-screw3-cassete,
.contain-screw4-cassete, .contain-screw5-cassete {
  width: 15px;
  height: 15px;
  background: lightgrey;
  border-radius: 50%;
  color: v.$color-b1;

  /* Images */
  img {
    width: 100%;
    height: 100%;
    user-select: none;
  
    @include mixin.drag();
  }
}
  /* Screews */
.contain-screw1-cassete {
  margin: 10px;

  @include mixin.flex-center(flex, center, center);
}
.contain-screw2-cassete {
  margin: 10px 10px 10px 230px;
  
  @include mixin.flex-center(flex, center, center);
}
.contain-screw3-cassete {
  margin: -50px 120px 0 0;
  
  @include mixin.flex-center(flex, center, center);
}
.contain-screw4-cassete {
  margin: -50px 0 0 120px;
  
  @include mixin.flex-center(flex, center, center);
}
.contain-screw5-cassete {
  position: relative;
  height: 12px;
  width: 12px;
  left: 70px;
  top: -0.5em;

  @include mixin.flex-center(flex, center, center);
}



/* Animations */
  /* Background animation */
@keyframes transferAtm {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}