/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
   CellPhoneEdge
====================
*/
  /* Top cellPhone edge */
.container-cellPhone-border-top {
  width: 300px;
  height: 15px;
  background: v.$color-g2;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 20px 1px v.$color-g2;
  position: relative;
  top: -745px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  @include mixin.flex-center(flex, center, center);
}

  /* Border top phone */
.box-border-top {
  width: 90%;
  height: 60%;
  background: v.$color-g1;
  border: solid;
  border-radius: 50px 50px 25px 25px;
  box-shadow: 0 5px 7px 1px v.$color-w4;

  @include mixin.flex-center(flex, center, center);
}
  /* connect earphones */
.connect-audio-border-top {
  width: 20px;
  height: 20px;
  background: v.$color-b1;
  border-radius: 35px;
  position: relative;
  left: -50px;

  @include mixin.flex-center(flex, center, center);
}
.connect-audio-inside-border-top {
  width: 14px;
  height: 14px;
  background: v.$color-b3;
  border-radius: 35px;
}
  /* Audio decoration top */
.audio-border-top {
  position: relative;
  right: -50px;
  gap: 5px;

  @include mixin.flex-center(flex, center, center);
}



/* Bottom cellPhone edge */
.container-cellPhone-border-bottom {
  width: 300px;
  height: 15px;
  background: v.$color-g1;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 20px 1px v.$color-g2;
  position: relative;
  top: -120px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  @include mixin.flex-center(flex, center, center);
}
  /* Border bottom phone */
.box-border-bottom {
  width: 90%;
  height: 60%;
  background: v.$color-g1;
  border: solid;
  border-radius: 25px 25px 50px 50px;
  box-shadow: 0 -5px 7px 1px v.$color-w4;

  @include mixin.flex-center(flex, center, center);
}
  /* Connect charger */
.connect-charger-border-bottom {
  width: 45px;
  height: 15px;
  background: v.$color-b2;
  border-radius: 50px;

  @include mixin.flex-center(flex, center, center);
}
.charger-inside-border-bottom {
  width: 60%;
  height: 25%;
  background: v.$color-b3;
  border-radius: 35px;
}
  /* Audio decoration bottom */
.audio-border-bottom {
  background: v.$color-g1;
  gap: 5px;
  position: absolute;
  right: 35px;

  @include mixin.flex-center(flex, center, center);
}



/* Box from view border cellPhone */
  /* Background view top phone */
.box-cellPhone-a {
  width: 400px;
  height: 50px;
  background-color: v.$color-g2;
  border-radius: 50px;
  opacity: 0;
  transform: translateY(10px);

  @include mixin.flex-center(flex, center, center);
}
.box-cellPhone-a.enter {
  animation: fadeIn-UpA 0.35s ease-out forwards;
}

.box-cellPhone-a.exit {
  animation: fadeIn-LeaveA 0.35s ease-out forwards;
}
  /* Animations */
@keyframes fadeIn-UpA {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-LeaveA {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

  /* Background view lower phone */
.box-cellPhone-b {
  width: 400px;
  height: 50px;
  background-color: v.$color-g2;
  border-radius: 50px;
  opacity: 0;
  transform: translateY(10px);

  @include mixin.flex-center(flex, center, center);
}
.box-cellPhone-b.enter {
  animation: fadeIn-UpB 0.35s ease-out forwards;
}

.box-cellPhone-b.exit {
  animation: fadeIn-LeaveB 0.35s ease-out forwards;
}
  /* Animations */
@keyframes fadeIn-UpB {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn-LeaveB {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}



/* Decorations */
  /* Audio decoration top-bottom */
.audio-inside-border {
  width: 7px;
  height: 7px;
  background: v.$color-b1;
  border: solid;
  border-radius: 35px;

  @include mixin.flex-center(flex, center, center);
}
.decoration-border-bottom {
  width: 10px;
  height: 10px;
  background: v.$color-b2;
  border-radius: 50px;
  position: absolute;
  left: 50px;
}