/* Import mixin */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
      Container
====================
*/
.container-header {
  width: 100dvw;
  min-height: 50px;
  border-bottom: solid 2px v.$color-b3;
  position: fixed;
  top: 0;
  left: 0;
  background-color: v.$color-w1;
  z-index: 10000000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  box-sizing: border-box;
}
  /* Box A: Image */
.box-header-a {
  width: 100%;
  height: 100%;
}
.contain-image-header-a {
  width: 100%;
  height: 100%;

  img {
    width: auto;
    height: 100%;
    cursor: pointer;
  }

  @include mixin.flex-center(flex, flex-start, center);
}


  /* Box B: Content, links, text */
.box-header-b {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3%;

  .card-icon-header:nth-child(5) {
    width: 75px;
    padding-right: 25px;
    background: none;
    border: none;
  }

  @include mixin.flex-center(flex, flex-end, center);
}

  /* Card icons */
.card-icon-header {
  width: auto;
  height: 100%;
  border-radius: 50px;

  animation: panelEnter 0.35s ease forwards;

  transition: all .1s ease;

  &:hover {
    transform: scale(.92);
  }

  @include mixin.flex-center(flex, center, center);
}
  /* Animations */
  /* enter */
.card-icon-header.enter {
  animation: panelEnter 0.35s ease forwards;
}
  /* exit */
.card-icon-header.exit {
  animation: panelExit 0.30s ease forwards;
}


  /* Icons */
.icon-image-header-b {
  width: 45%;
  height: 45%;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    user-select: none;

    @include mixin.drag();
  }

  @include mixin.flex-center(flex, center, center);
}



/* Interfaz */
.contain-interfaz-header {
  width: 40vw;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;

  background: v.$color-w1;

  border-left: solid 2px v.$color-b3;
  flex-direction: column;

  padding: 1rem 0;
  z-index: 1000;

  @include mixin.flex-center(flex, space-between, center);
}
  /* Animations */
  /* enter */
.contain-interfaz-header.enter {
  animation: panelEnter 0.35s ease forwards;
}
  /* exit */
.contain-interfaz-header.exit {
  animation: panelExit 0.30s ease forwards;
}


  /* Icon */
.box-interfaz-header {
  width: 50%;

  border: none;
  position: relative;
  transition: all .2s ease;
  
  background: transparent;
  cursor: pointer;

  @include mixin.flex-center(flex, center, center);
}
.icon-interfaz-header {
  width: 10%;
  height: 50%;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    user-select: none;

    @include mixin.drag();
  }
}

  /* Text for login or register */
.account-interfaz {
  width: 65%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 0.85rem;
    color: #555;
  }

  button {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 0.85rem;
    border-radius: 4px;
    transition: all .2s ease;
  }

  .login {
    background: v.$color-b4;
    color: white;

    &:hover {
      background: v.$color-b3;
    }
  }

  .register {
    background: v.$color-w2;

    &:hover {
      background: v.$color-w3;
    }
  }
}
  /* Animation */
  /* enter */
.account-interfaz.enter {
  animation: panelHomeEnter 0.35s ease forwards;
}


  /* Privacy */
.interfaz-terms-privacy {
  width: 80%;
  height: 10%;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.85rem;
    color: #555;
    text-align: center;
  }
}

/* Animations */
  /* Animation enter */
@keyframes panelExit {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
  /* Animation exit */
@keyframes panelEnter {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

  /* Panel in the interface */
@keyframes panelHomeEnter {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}