/* Importations */
@use "../mixin";
@use "../variables" as v;



/* 
====================
     Container
====================
*/
.container-main-home {
  background-color: v.$color-w1;
  display: grid;
  grid-template-rows: auto auto auto;
}

  /* First box */
.box-main-a {
  min-height: 100dvh;
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
}

  /* Left column: hero text + description */
.content-main-1A { 
  width: 50dvw;
  grid-area: 1 / 1 / 2 / 2;
}
.content-main-center-1A {
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  
  @include mixin.flex-center(flex, center, center);
}

  /* Right column: cards + button */
.content-main-2A { 
  width: 50dvw;
  grid-area: 1 / 2 / 2 / 3;
}
  /* Cards */
.card-main-A2 {
  width: 250px;
  height: 300px;
  border: solid v.$color-w1;
  border-radius: 25px;
  background-color: v.$color-b3;
  box-shadow: 0 0 10px 5px v.$color-g1;
  transition: all 0.1s ease-in-out;
  rotate: -5deg;

  &:hover {
    scale: 1.05;
  }
}
  /* Position cards */
.position-card-1 {
  position: absolute;
  top: 45%;
  left: 78%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 1;

  &:hover {
    scale: 1.05;
    rotate: 5deg;
  }

  @include mixin.flex-center(flex, center, center);
}
.position-card-2 {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 2;

  &:hover {
    scale: 1.05;
    rotate: 5deg;
  }

  @include mixin.flex-center(flex, center, center);
}
.position-card-3 {
  position: absolute;
  top: 35%;
  left: 72%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 3;

  @include mixin.flex-center(flex, center, center);
}
  /* Button */
.button-main-A2 {
  width: 380px;
  height: 75px;
  color: v.$color-w1;
  background-color: v.$color-b3;
  border: none;
  border-radius: 50px;
  
  font-family: v.$font-mainD3;
  font-size: 2em;

  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;

  transition: all 0.03s ease-in;

  &:active {
    color: v.$color-w1;
    background-color: v.$color-b3;
    width: 375px;
    height: 70px;
  }
}


  /* Second box */
.box-main-b {
  min-height: 100dvh;
  grid-area: 2 / 1 / 3 / 2;
  background-color: v.$color-b3;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;

  z-index: 100;
}

  /* left column: card phone */
.content-main-1B {
  width: 50dvw;
  grid-area: 1 / 1 / 2 / 2;

  @include mixin.flex-center(flex, center, center);
}
  /* Rear phone */
.rear-mobile-main-1B {
  width: 240px;
  height: 450px;
  border: solid 2px v.$color-g1;
  border-radius: 40px;
  background-color: v.$color-g3;
  box-shadow: 0 0 25px 1px v.$color-w3;

  @include mixin.flex-center(flex, center, none);
}
.rear-box-mobile-main-1B {
  width: 220px;
  height: 100px;
  margin-top: 10px;
  border: solid 2px v.$color-g1;
  border-radius: 30px;
  background-color: v.$color-g2;
}
  /* Rear phone camera */
.rear-box-camera-main-1B {
  width: 27px;
  height: 27px;
  margin-top: 10px;
  margin-left: 10px;
  border: solid 2px v.$color-g3;
  border-radius: 50%;

  @include mixin.flex-center(flex, center, center);
}
  /* Rear phone flash */
.rear-box-flash-main-1B {
  width: 10px;
  height: 10px;
  margin-top: -25px;
  margin-left: 40px;
  border: solid 2px v.$color-g3;
  border-radius: 50%;

  @include mixin.flex-center(flex, center, center);
}
  /* Nexia logo in phone rear */
.rear-box-nexia-main-1B {
  width: 250px;
  height: 250px;
  position: absolute;
}
  /* Buttons */
.button-more-main-1B {
  width: 10px;
  height: 35px;
  background-color: v.$color-g2;
  border: solid 2px v.$color-b1;
  border-radius: 10px 0 0 0;
  box-shadow: 0 0 25px 1px v.$color-w3;

  position: relative;
  top: 45%;
  left: -7.7%;
  z-index: -1;
}
.button-less-main-1B {
  width: 10px;
  height: 35px;
  background-color: v.$color-g2;
  border: solid 2px v.$color-b1;
  border-radius: 0 0 0 10px;
  box-shadow: 0 0 25px 1px v.$color-w3;

  position: relative;
  top: 80%;
  left: -12.3%;
  z-index: -1;
}
.button-power-main-1B {
  width: 10px;
  height: 35px;
  background-color: v.$color-g2;
  border: solid 2px v.$color-b1;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 25px 1px v.$color-w3;

  position: relative;
  top: 120%;
  left: -17%;
  z-index: -1;
}


  /* Right column: text */
.content-main-2B {
  width: 50dvw;
  grid-area: 1 / 2 / 2 / 3;

  @include mixin.flex-center(flex, center, center);
}
.box-content-main-2B {
  margin: 120px;
}


  /* Third box */
.box-main-c {
  min-height: 100dvh;
  background-color: v.$color-b3;
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
}
  /* left column: text, images */
.box-content-main-1C {
  margin-top: 25px;
  grid-area: 1 / 1 / 2 / 2;
}
.card-apps-main-1C {
  height: 70%;
  position: relative;
}
.box-image-music-1C {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;

  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);

  @include mixin.flex-center(flex, center, center);
}
.box-image-calendar-1C {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;

  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);

  @include mixin.flex-center(flex, center, center);
}
.box-image-calculator-1C {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;

  position: absolute;
  top: 75%;
  left: 40%;
  transform: translate(-50%, -50%);

  @include mixin.flex-center(flex, center, center);
}
.box-image-settings-2C {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
  
  position: absolute;
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);

  @include mixin.flex-center(flex, center, center);
}
.box-image-phone-2C {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
  
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);

  @include mixin.flex-center(flex, center, center);
}

  /* Lines for the points */
.line-music-1C {
  width: 200px;
  height: 3px;
  background-color: v.$color-w1;
  border: none;
  border-radius: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.line-calendar-1C {
  width: 200px;
  height: 3px;
  background-color: v.$color-w1;
  border: none;
  border-radius: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.line-calculator-1C {
  width: 200px;
  height: 3px;
  background-color: v.$color-w1;
  border: none;
  border-radius: 50px;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.line-settings-2C {
  width: 200px;
  height: 3px;
  background-color: v.$color-w1;
  border: none;
  border-radius: 50px;

  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -1;
}
.line-phone-2C {
  width: 200px;
  height: 3px;
  background-color: v.$color-w1;
  border: none;
  border-radius: 50px;

  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -1;
}

  /* Points */
.point-music-1C {
  width: 10px;
  height: 10px;
  background-color: v.$color-w1;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 98%;
  cursor: pointer;
}
.point-calendar-1C {
  width: 10px;
  height: 10px;
  background-color: v.$color-w1;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 98%;
  cursor: pointer;
}
.point-calculator-1C {
  width: 10px;
  height: 10px;
  background-color: v.$color-w1;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 98%;
  cursor: pointer;
}
.point-settings-2C {
  width: 10px;
  height: 10px;
  background-color: v.$color-w1;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 98%;
  cursor: pointer;
}
.point-phone-2C {
  width: 10px;
  height: 10px;
  background-color: v.$color-w1;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 98%;
  cursor: pointer;
}

  /* Bubble effect */
.bubble {
  background-color: v.$color-w3;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 98%;
  z-index: -1;

  animation: pointBlink 0.9s ease-out infinite alternate;
}
.bubble-2C {
  background-color: v.$color-w3;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 98%;
  z-index: -1;

  animation: pointBlink 0.9s ease-out infinite alternate;
}
  /* Point blink animation */
@keyframes pointBlink {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(2);
    opacity: 0.5;
  }
}

  /* Right column: images, text */
.box-content-main-2C {
  margin-top: 25px;
  grid-area: 1 / 2 / 2 / 3;
}
.card-apps-main-2C {
  height: 60%;
  position: relative;
}


  /* Fourd box */
.box-main-d {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto;
}
  /* Top devices */
.content-main-1D {
  min-height: 100dvh;
  background-color: v.$color-b3;
  grid-area: 1 / 1 / 2 / 2;

  @include mixin.flex-center(flex, center, center);
}
  /* Card mobile */
.card-device-main-1D {
  width: 250px;
  height: 250px;
  margin: 30px;
  background-color: v.$color-g3;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 15px 5px v.$color-g4;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 10000;

  &:hover {
    scale: 1.1;
    box-shadow: none;
  }
}
  /* mobile */
.box-device-mobile-main-1D {
  width: 150px;
  height: 180px;
  background-color: v.$color-g1;
  position: absolute;
  border-radius: 50px 0 30px 0;
  top: 50%;
  left: 50%;
  transform: translate(-16.5%, -30.5%);
}
.content-screen-mobile-main-1D {
  width: 145px;
  height: 175px;
  background-color: v.$color-g2;
  position: absolute;
  border-radius: 50px 0 27px 0;
  top: 50%;
  left: 50%;
  transform: translate(-48.3%, -48.8%);
}

  /* Tablet */
.box-device-tablet-main-1D {
  width: 190px;
  height: 180px;
  background-color: v.$color-g1;
  position: absolute;
  border-radius: 50px 0 30px 0;
  top: 50%;
  left: 50%;
  transform: translate(-33.9%, -30.5%);
}
.content-screen-tablet-main-1D {
  width: 185px;
  height: 175px;
  background-color: v.$color-g2;
  position: absolute;
  border-radius: 50px 0 27px 0;
  top: 50%;
  left: 50%;
  transform: translate(-48.8%, -48.8%);
}
.front-audio-tablet-main-1D {
  width: 120px;
  height: 5px;
  background-color: v.$color-b3;
  border: solid 2px v.$color-b3;
  border-radius: 25px 0 0 25px;

  position: absolute;
  top: 0%;
  left: 67.7%;
  transform: translate(-50%, -50%);
}

  /* Computer */
.box-device-computer-main-1D {
  width: 220px;
  height: 180px;
  background-color: v.$color-g1;
  position: absolute;
  border-radius: 50px 0 30px 0;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -30.5%);
}
.content-screen-computer-main-1D {
  width: 215px;
  height: 175px;
  background-color: v.$color-g2;
  position: absolute;
  border-radius: 50px 0 27px 0;
  top: 50%;
  left: 50%;
  transform: translate(-48.8%, -48.8%);
}
.front-audio-computer-main-1D {
  width: 150px;
  height: 5px;
  background-color: v.$color-b3;
  border: solid 2px v.$color-b3;
  border-radius: 25px 0 0 25px;

  position: absolute;
  top: 0%;
  left: 64%;
  transform: translate(-48.4%, -50%);
}

  /* ATM */
.box-device-atm-main-1D {
  width: 220px;
  height: 180px;
  background-color: v.$color-g1;
  position: absolute;
  border-radius: 15px 0 30px 0;
  top: 50%;
  left: 50%;
  transform: translate(-43.3%, -30.5%);
}
.content-screen-atm-main-1D {
  width: 195px;
  height: 155px;
  background-color: v.$color-g2;
  position: absolute;
  border-radius: 25px 0 27px 0;
  top: 50%;
  left: 50%;
  transform: translate(-43.8%, -42%);
}

  /* Available boxes to enter the device */
.box-avaliable-device-main-1D {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 0 0 5px v.$color-g1;
  position: absolute;
}
.box-noavailable-device-main-1D {
  width: 100%;
  height: 100%;
  background-color: v.$color-g1;
  opacity: 0.7;
  border-radius: 25px;
  box-shadow: 0 0 0 5px v.$color-g1;
  position: absolute;

  @include mixin.flex-center(flex, center, center);

  p {
    color: v.$color-w1;
    font-family: v.$font-mainD3;
    font-size: 30px;
    text-align: justify;
    margin: 50px 70px;
    user-select: none;
  }
}


  /* Bottom */
.content-main-2D {
  min-height: 100dvh;
  background-color: v.$color-b3;

  @include mixin.flex-center(flex, center, center);
}
.box-main-2D {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
}
.box-image-main-2D {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  margin-top: 60px;

  @include mixin.flex-center(flex, center, center);
}
.box-main-text-2D {
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  margin-bottom: 120px;
}


/* 
====================
      Images
====================
*/
  /* Tree card images */
.card-image-main-A2 {
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-right: 20px;
  user-select: none;

  animation: blink 1.5s ease-in-out infinite alternate;
}
  /* Blink animation for main card image */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Phone rear camera */
.rear-box-image-main-1B {
  width: 25px;
  height: 25px;
  object-fit: cover;
  user-select: none;
}
.flash-box-image-main-1B {
  width: 10px;
  height: 10px;
  object-fit: cover;
  user-select: none;
}

/* Nexia logo in phone rear */
.rear-box-image-nexia-1B {
  width: 220px;
  height: 250px;
  object-fit: cover;
  user-select: none;

  position: relative;
  top: 100%;
  left: 47%;
  transform: translate(-50%, -50%);
  animation: rearImage 1s ease-in-out infinite alternate;
}
  /* Blink animation for main card image */
@keyframes rearImage {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

  /* Card images apps */
.card-image-music-1C {
  width: 125px;
  height: 125px;
  background-color: v.$color-w1;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
}
.card-image-calendar-1C {
  width: 125px;
  height: 125px;
  background-color: v.$color-w1;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
}
.card-image-calculator-1C {
  width: 125px;
  height: 125px;
  background-color: v.$color-w1;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
}
.card-image-settings-2C {
  width: 125px;
  height: 125px;
  background-color: v.$color-w1;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
}
.card-image-phone-2C {
  width: 125px;
  height: 125px;
  background-color: v.$color-w1;
  border-radius: 25px;
  box-shadow: 0 0 25px 3px v.$color-g3;
}

  /* Front camera */
.front-camera-main-1D {
  width: 20px;
  user-select: none;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}

  /* Heart image */
.heart-image-2D {
  width: 65px;
  height: 65px;
}

  /* Screw decoration */
.screw-device-main-1D {
  width: 25px;
  height: 25px;
  user-select: none;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-70%, -70%);
}


/* 
====================
  Letters - Fonts
====================
*/
  /* Nexia */
.letter-main-nexia-1A {
  width: 500px;
  color: v.$color-g1;
  font-size: 160px;
  font-style: italic;
  font-weight: 200;
  font-family: v.$font-mainO1;
  
  @include mixin.flex-center(flex, center, center);
}
  /* Description nexia */
.letter-main-basic-1A {
  width: 400px;
  color: v.$color-g3;
  margin-top: -85px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-family: v.$font-mainO2;
  text-align: justify;

  @include mixin.flex-center(flex, center, center);
}

  /* Description App */
.font-main-1B {
  color: v.$color-w1;
  font-family: v.$font-mainO2;
  font-size: 18px;
  text-align: center;
}
.font-main-2B {
  color: v.$color-w1;
  font-family: v.$font-mainO2;
  font-size: 18px;
  text-align: center;
}

  /* Description Nexia */
.font-main-1C {
  color: v.$color-w1;
  font-family: v.$font-mainO2;
  font-size: 18px;
  text-align: justify;
  margin: 50px 70px;
}

  /* Title device */
.title-device-main-1D {
  color: v.$color-w1;
  font-family: v.$font-mainD3;
  font-size: 20px;
  text-align: center;
  user-select: none;

  animation: title 1.5s ease-in-out infinite alternate;
}
@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  /* Description Nexia end */
.font-main-2D {
  color: v.$color-w1;
  font-family: v.$font-mainO1;
  opacity: 0.7;
  font-size: 18px;
  text-align: center;
  font-weight: 800;
  margin: 20px 350px;
}

  /* Scroll spy */
.font-dot-label {
  opacity: 0.2;
  color: v.$color-w1;
  font-family: v.$font-mainO2;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  transition: all .2s ease;
  user-select: none;
  text-shadow: 0 0 5px black;
}


/* 
====================
      Others
====================
*/
/* Hr */
.hr-divider-text-1A {
  width: 420px;
  height: 4px;
  background-color: v.$color-g1;
  border: none;
  border-radius: 50px;
  color: v.$color-g1;
  position: relative;
  top: -75px;
}


/* Scroll spy */
.scroll-progress {
  position: fixed;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  z-index: 1000;
}
  /* Spaces */
.dots {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.dot-item {
  display: flex;
  align-items: center;
}
  /* Icon */
.dot {
  width: 10px;
  height: 10px;
  background: #333;
  border: solid 2px v.$color-w1;
  box-shadow: 0 0 10px 3px v.$color-g2;
  cursor: pointer;
  transition: all .2s ease;
  transform: rotate(50deg);

  position: absolute;
  right: 85px;
}
.dot-item.active .dot {
  background: v.$color-w1;
  transform: rotate(140deg) scale(1.5);
}
.dot-item.active .font-dot-label {
  color: v.$color-w1;
  opacity: 1;
  font-weight: 600;
}