/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
   CellPhoneEdge
====================
*/
  /* Top cellPhone edge */
.container-cellPhone-border-top {
  width: 300px;
  height: 15px;
  background-color: v.$color-g4;
  border: solid v.$color-g2;
  border-radius: 50px;
  box-shadow: 0 0 20px 1px v.$color-g2;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  position: relative;
  top: -745px;

  &:hover {
    transform: scale(1.05);
  }
}
  /* Bottom cellPhone edge */
.container-cellPhone-border-bottom {
  width: 300px;
  height: 15px;
  background-color: v.$color-g4;
  border: solid v.$color-g2;
  border-radius: 50px;
  box-shadow: 0 0 20px 1px v.$color-g2;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  position: relative;
  top: -125px;

  &:hover {
    transform: scale(1.05);
  }
}