/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
=====================
      Container
=====================
*/
.cash-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  user-select: none;

  @include mixin.flex-center(flex, space-between, center);
}

/* Header */
.cash-header {
  height: 100px;
  text-align: center;
  margin-top: 20px;

  h2 {
    font-size: rem;
    opacity: 0.6;
    font-family: v.$font-mainO2;
  }

  span {
    font-size: 2rem;
    font-weight: bold;
    font-family: v.$font-mainO2;
  }
}


  /* Float Reward (+4584) */
.cash-reward-float {
  position: absolute;
  top: 15%;
  right: 5%;

  font-size: 1.2rem;
  font-weight: bold;
  color: #18b740;

  animation: floatCashUp 0.6s ease forwards;
  
  &.exit {
    animation: fadeCashOut 0.3s ease forwards;
  }
}


  /* Error */
.cash-error {
  display: flex;
  justify-content: center;
}
.cash-error-box {
  padding: 10px 20px;
  border-radius: 10px;
  background: #ea2525;
  color: v.$color-w1;

  position: absolute;
  bottom: 5%;

  animation: fadeRewardIn 0.3s ease forwards;
}
.cash-error-box.exit {
  animation: fadeRewardOut 0.3s ease forwards;
}


  /* Area button */
.cash-action {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
  /* Button */
.cash-button {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  background: radial-gradient(circle, white, #e6b800);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2), inset 0 4px 10px rgba(255,255,255,0.3);

  transition: transform 0.1s ease, box-shadow 0.1s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.92);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2), inset 0 2px 5px rgba(0,0,0,0.2);
  }

  img {
    width: 70%;
    height: 70%;
    pointer-events: none;
    user-select: none;

    @include mixin.drag();
  }
}



  /* Animations */
  /* Enter */
@keyframes floatCashUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(-20px);
  }
}
  /* In */
@keyframes fadeCashIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  /* Out - Exit */
@keyframes fadeCashOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}