/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
     Container
====================
*/
.container-main-phone {
  background-color: v.$color-b4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

  /* First box */
.box-phone-a {
  height: 100dvh;
  display: flex;
  position: relative;
  
  grid-area: 1 / 1 / 2 / 2;
}
.box-title-phone {
  width: 33dvw;

  @include mixin.flex-center(flex, center, center);
}

  /* Second box */
.box-phone-b {
  min-height: 100dvh;
  grid-area: 2 / 1 / 3 / 2;
}

  /* Third box */
.box-phone-c {
  grid-area: 3 / 1 / 4 / 2;
  min-height: 100dvh;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
}
  /* Left column: title + description */
.box-phone-C1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 40dvw;
  min-height: 100dvh;

  @include mixin.flex-center(flex, center, center);
}
.box-text-phone-C1 {
  margin: 30px;
}

  /* Right column: icons */
.box-phone-C2 {
  grid-area: 1 / 2 / 2 / 3;
  min-width: 60dvw;
  height: 100%;

  @include mixin.flex-center(flex, center, center);
}
.box-contain-image-phone-C2 {
  margin: 25px;
  flex-wrap: wrap;
  
  @include mixin.flex-center(flex, center, center);
}
.contain-image-phone-C2 {
  width: 100px;
  height: 100px;
  margin: 50px 25px;
  background-color: v.$color-w1;
  border: 2px solid v.$color-w1;
  border-radius: 20px;
  box-shadow: 0 0 5px 3px v.$color-g3;

  @include mixin.flex-center(flex, center, center);
}



/* 
====================
      Images
====================
*/
.rose-phone {
  width: 100%;
  height: 100%;
  user-select: none;

  object-fit: cover;
}
.image-phone-C2 {
  width: 90%;
  height: 90%;
  user-select: none;

  object-fit: cover;
}



/* 
====================
  Letters - Fonts
====================
*/
/* Title rose */
.title-phone { 
  color: v.$color-w1;
  font-size: 120px;
  font-style: italic;
  font-weight: 200;
  font-family: v.$font-mainO1;
  
  @include mixin.flex-center(flex, center, center);
  z-index: 100;
}

.content-text-phone-C1a {
  color: v.$color-w1;
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  font-family: v.$font-mainD3;
  
  @include mixin.flex-center(flex, center, center);
  z-index: 100;
}
.content-text-phone-C1b {
  color: v.$color-w1;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  font-family: v.$font-mainD3;
  text-align: justify;
  
  @include mixin.flex-center(flex, center, center);
  z-index: 100;
}