/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
=====================
      Container
=====================
*/
.Container-app-screen-radio {
  width: 100%;
  height: 90%;
  position: relative;
  top: 10%;
  border: solid red;

  @include mixin.flex-center(flex, center, center);
}