@use "../../../mixin";
@use "../../../variables" as v;



/* 
====================
     Container
==================== 
*/
.container-header {
  width: 100%;
  height: 50px;
  background-color: v.$color-w1;
  border-bottom: solid 2px v.$color-b3;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  box-sizing: border-box;


  @include mixin.mobile {
    height: 50px;
  }
}


/* 
====================
       Box A
==================== 
*/
.box-header-a {
  width: 100%;
  height: 100%;
}


/* 
====================
  Image Container
==================== 
*/
.contain-image-header {
  width: 100%;
  height: 100%;
  transform: translateX(5px);

  .image-header-nexia {
    width: auto;
    height: 100%;
    cursor: pointer;
    user-select: none;

    &.enter {
      animation: iconEnterLeft 0.35s ease forwards;
    }

    &.exit {
      animation: iconExitLeft 0.35s ease forwards;
    }

    @include mixin.drag();

    
    @include mixin.mobile {
      transform: scale(0.9);
    }
  }

  @include mixin.flex-center(flex, flex-start, center);
}


/* ====================
        Box B
==================== */
.box-header-b {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2px;
  transform: translateX(-40px);

  @include mixin.flex-center(flex, flex-end, center);


  @include mixin.tablet {
    transform: translateX(-30px);
  }
  @include mixin.mobile {
    transform: translateX(-30px);
  }
}


/* 
====================
     Account UI
==================== 
*/
.account-interfaz {
  width: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    color: #555;
    @include mixin.font-sm;
  }

  button {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s ease;

    @include mixin.font-sm;

    /* Ajuste fino, no agresivo */
    @include mixin.tablet {
      padding: 7px 9px;
    }

    @include mixin.mobile {
      padding: 6px 8px;
    }
  }

  .login {
    background: v.$color-b4;
    color: v.$color-w1;

    &:hover {
      background: v.$color-b3;
    }
  }
  .register {
    background: v.$color-w2;

    &:hover {
      background: v.$color-w3;
    }
  }


  @include mixin.tablet {
    width: 70%;
    gap: 8px;
  }
  @include mixin.mobile {
    width: 75%;
    gap: 6px;
  }
}



/* Animations */
@keyframes iconEnterLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes iconExitLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}