/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
     Container
====================
*/
.container-main-home {
  background: v.$color-w1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}



/* Animation */
  /* Background animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}