/* Importations */
@use "../../mixin";
@use "../../variables" as v;



/* 
====================
     Container
====================
*/
.container-main-home {
  background: v.$color-w1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}