/* Importations */
@use "../../../../mixin";
@use "../../../../variables" as v;



/* 
=====================
     User Option
=====================
*/
.box-content-user {
  width: 100%;
  height: 90%;
  position: relative;
  top: 35px;
  flex-wrap: wrap;

  @include mixin.flex-center(flex, center, center);
}


/* Box account */
.box-content-account-user {
  width: 100%;
  height: 20%;

  @include mixin.flex-center(flex, center, center);
}
  /* Card */
.card-button-account-user {
  width: 100%;
  height: 90%;
  border: solid;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  transition: all .1s ease;

  &:active {
    background-color: v.$color-g4;
  }
}
  /* Box image */
.card-box-account-user-a {
  width: 25%;
  height: 100%;

  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    user-select: none;

    @include mixin.drag();
  }

  @include mixin.flex-center(flex, center, center);
}
  /* Box text user */
.card-box-account-user-b {
  width: 65%;
  height: 100%;

  p:nth-child(1) {
    width: 100%;
    height: 50%;
    padding-left: 5px;
    font-size: 1.1rem;
    font-family: v.$font-mainO2;
    position: relative;
    top: 5px;

    @include mixin.flex-center(flex, flex-start, center);
  }
  p:nth-child(2) {
    width: 100%;
    height: 50%;
    padding-left: 5px;
    font-size: 1rem;
    font-family: v.$font-mainO2;
    position: relative;
    top: -10px;
    opacity: .9;

    @include mixin.flex-center(flex, flex-start, center);
  }
}
  /* Box image forward */
.card-box-account-user-c {
  width: 10%;
  height: 100%;

  img {
    width: 17px;
    height: 17px;
    user-select: none;

    @include mixin.drag();
  }

  @include mixin.flex-center(flex, flex-start, center);
}


/* Box options */
.box-options-account-user {
  width: 100%;
  height: 60%;

  .title-options-user {
    font-size: .8rem;
    font-family: v.$font-mainO1;
    font-weight: 700;
    letter-spacing: .5px;
    position: absolute;
    top: 93px;
    left: 10px;
    opacity: .6;
  }
}
  /* Card select option */
.card-option-button-acount-user {
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: 25px;
  transition: all .1s ease;

  &:active {
    background: v.$color-g4;
  }

  @include mixin.flex-center(flex, center, center);
}
.option-text-account-user {
  width: 90%;
  text-align: start;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: v.$font-mainO2;
}
.option-image-account-user {
  width: 10%;

  img {
    width: 17px;
    height: 17px;
    user-select: none;

    @include mixin.drag();
  }

  @include mixin.flex-center(flex, flex-start, center);
}


/* Box log out */
.box-logout-account-user {
  width: 100%;
  height: 20%;

  @include mixin.flex-center(flex, center, center);
}
.button-logout-account-user {
  width: 90%;
  height: 60%;
  background: v.$color-g3;
  border: none;
  border-radius: 25px;
  color: v.$color-w1;
  font-size: 1.2rem;
  font-family: v.$font-mainO1;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .10ms ease;

  &:active {
    background: v.$color-g5;
  }
}


/* Others */
.divisor-user {
  width: 95%;
  height: 2px;
  background: v.$color-b2;
  border: none;
  border-radius: 35px;
}