/* Importations */
@use "../../mixin";



/* 
=====================
 Container wallpaper
=====================
*/
.screen-cellPhone-wallpaper {
  width: 100%;
  height: 100%;
  border-radius: 35px;

  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}
.screen-cellPhone-wallpaper.on {
  transform: scaleX(1);
}
.screen-cellPhone-wallpaper.off {
  transform: scaleX(0);
}

  /* Wallpaper */
.image-wallpaper {
  width: 100%;
  height: 100%;
  border-radius: 35px;
  user-select: none;
  object-fit: cover;

  position: relative;
  z-index: 100;

  filter: blur(1px);

  @include mixin.drag();
}