@use "./variables" as v;


/* Flex center */
@mixin flex-center($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

/* No drag */
@mixin drag() {
  -webkit-user-drag: none;
  pointer-events: none;
}

@mixin scrollbar($background) {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $background;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: v.$color-w3;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: v.$color-g2;
  }
}